[Unit]
Description=TaskExec Runner
Requires=network.target

[Service]
EnvironmentFile=/etc/taskexec/env
ExecStart=/usr/bin/taskexec runner start --config ${TASKEXEC_CONFIG}
ExecReload=/bin/kill -HUP $MAINPID
User=taskexec
Group=taskexec
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
