[Unit]
Description=JEH Runner
Requires=network.target

[Service]
EnvironmentFile=/etc/jeh/env
ExecStart=/usr/bin/jeh runner start --config ${JEH_CONFIG}
ExecReload=/bin/kill -HUP $MAINPID
User=jeh
Group=jeh
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
